{% extends "base.twig" %}

{% block title %}
    Classes
{% endblock %}

{% block container %}


    <div class="row">
        <div class="list-group">
            {% for classe in classes %}
                <a href="infosclasse.php?id={{ classe.id }}" class="list-group-item list-group-item-action">{{ classe.nom }}</a>
            {% endfor %}
        </div>
    </div>


{% endblock %}