{% extends "base.twig" %}

{% block title %}
    Cours
{% endblock %}

{% block container %}


    <div class="row">
        <div class="list-group">
            {% for moncours in cours %}
                <a href="infoscours.php?id={{ moncours.id }}" class="list-group-item list-group-item-action">{{ moncours.nom }}</a>
            {% endfor %}
        </div>
    </div>



{% endblock %}