{% extends "base.twig" %}

{% block title %}
    Eleves
{% endblock %}

{% block container %}


    <div class="row">
        <div class="list-group">
            {% for eleve in eleves %}
                <a href="infoseleve.php?id={{ eleve.id }}" class="list-group-item list-group-item-action">{{ eleve.nom }} {{ eleve.prenom }}</a>
            {% endfor %}
        </div>
    </div>



{% endblock %}