{% extends "base.twig" %}

{% block title %}
    Evaluations
{% endblock %}

{% block container %}

    <div class="row">
        {% for evaluation in evaluations %}

            <div class="card col-md-2" >
                <div class="card-body">
                    <h5 class="card-title">{{ evaluation.nom }}</h5>
                    <a href="infoseval.php?id={{ evaluation.id }}" class="btn btn-primary">Plus d'infos</a>
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}