{% extends "base.twig" %}

{% block title %}
    Evaluations
{% endblock %}

{% block container %}


        <div class="row">
            <div class="list-group">
                {% for evaluation in evaluations %}
                    <a href="infoseval.php?id={{ evaluation.id }}" class="list-group-item list-group-item-action">{{ evaluation.nom }}</a>
                {% endfor %}
            </div>
        </div>





{% endblock %}