{% extends "baseinfos.twig" %}

{% block title %}
    Evaluation
{% endblock %}




  {% block nom %}
      <h2> {{ evaluation.nom }}</h2>
  {% endblock %}

        {% block titreOnglet1 %}
            Cours conçerné
        {% endblock %}

            {% block dataOnglet1 %}

                <p class="card-text">{{ cours.nom }}</p>

            {% endblock %}

{% block onglet2 %}

{% endblock %}
{% block onglet3 %}

{% endblock %}