{% extends "baseinfos.twig" %}

{% block title %}
    Matiere
{% endblock %}




  {% block nom %}
      <h2> {{ matiere.nom }}  </h2>
  {% endblock %}

        {% block titreOnglet1 %}
            Cours associés
        {% endblock %}

            {% block dataOnglet1 %}
                <ul>
                    {% for key in cours %}
                        <li>{{ key }}</li>
                    {% endfor %}
                </ul>
            {% endblock %}




        {% block titreOnglet2 %}
            Professeurs
        {% endblock %}

            {% block dataOnglet2 %}
                <ul>
                    {% for key in profs %}
                        <li>{{ key.0 }} {{ key.1 }}</li>
                    {% endfor %}
                </ul>
            {% endblock %}

            {% block onglet3 %}

            {% endblock %}
