{% extends "base.twig" %}

{% block title %}
    Matières
{% endblock %}

{% block container %}


    <div class="row">
        <div class="list-group">
            {% for matiere in matieres %}
                <a href="infosmatiere.php?id={{ matiere.id }}" class="list-group-item list-group-item-action">{{ matiere.nom }} </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}