{% extends "base.twig" %}

{% block title %}
    Professeurs
{% endblock %}

{% block container %}


    <div class="row">
        <div class="list-group">
            {% for professeur in professeurs %}
                <a href="infosprof.php?id={{ professeur.id }}" class="list-group-item list-group-item-action">{{ professeur.nom }} {{ professeur.prenom }}</a>
            {% endfor %}
        </div>
    </div>



{% endblock %}