{% extends "base.twig" %}

{% block title %}
    Professeurs
{% endblock %}

{% block container %}


    <div class="row">
        {% for professeur in professeurs %}

            <div class="card col-md-2" >
                <div class="card-body">
                    <h5 class="card-title">{{ professeur.nom }} {{ professeur.prenom }}</h5>
                    <a href="infosprof.php?id={{ professeur.id }}" class="btn btn-primary">Plus d'infos</a>
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}